<footer class="page-footer">
    <div class="footer-title">
        <div class="container ">
            <div class="row py-4 align-items-center text-light ">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 ">
                    <h6 class="mb-0 ">Get connected with us on social networks!</h6>
                </div>
    
                <div class="col-md-6 col-lg-7 text-center text-md-right ">
                    <a href="about.html"> <i class="fab fa-facebook-f mr-4 "></i> </a>
                    <a href="about.html"> <i class="fab fa-twitter mr-4 "> </i> </a>
                    <a href="about.html"> <i class="fab fa-google-plus-g mr-4 "></i> </a>
                    <a href="about.html"> <i class="fab fa-linkedin-in mr-4 "> </i> </a>
                    <a href="about.html"> <i class="fab fa-instagram "> </i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
